<!- deleteBook.html 
url_for: flask will have the url for each of the functions-->
<html>
	<head></head>
	<h1>Delete Book</h1>
	<body>
		{% if books == [] %}
			<p>No books exist</p>	
		{% else %}
		{% for i in books %}
			<div>
			{% if i['id'] == book_id|string %}
				<p>Are you sure you want to delete {{i['title']}}?</br>
			{% endif %}
			</div>
		{% endfor %}
		{% endif %}
		<form action="#" method='POST'>
			<input type='submit' value='Delete'>
			<a href="{{url_for('showBook')}}">Cancel</a><br/>
		</form>
	</body>
</html>