<!- editBook.html 
url_for: flask will have the url for each of the functions-->
<html>
	<head></head>
	<h1>Edit Book</h1>
	<body>
		<p>Name:</p></br>
		<form action="#" method='POST'>
			<input type='text' size='30' name='name'>
			<input type='submit' value='Edit'>
			<a href="{{url_for('showBook')}}">Cancel</a><br/>
		</form>
	</body>
</html>
